@page "/Nuget"
@inject DevOpsService DevOpsService
@inject NugetService NugetService
@inject TeamMembersVelocitySettings Settings
@inject IUserPreferenceRepository UserPreference
@inject TokenProvider TokenProvider
@attribute [Authorize]

<div class="row">
    <div class="col-md-6">
        <h3>Feeds</h3>
    </div>
</div>

<div class="row border">
    <EditForm class="m-2 col-md-12" EditContext="EditContext" OnValidSubmit="GetNugets">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputTeamProject">Team Project</label>
                    <SafeTextInput id="inputTeamProject"
                                   class="form-control"
                                   @bind-Value="NugetSettings.TeamProject"
                                   @onfocus="GetProjects"
                                   type="text"
                                   list="teamProjectSuggestion"
                                   aria-describedby="describeTeamProject"
                                   placeholder="Team project" />
                    @if (TeamProjects != null)
                    {
                        <datalist id="teamProjectSuggestion">
                            @foreach (var teamProject in TeamProjects)
                            {
                                <option value="@teamProject.Name" />
                            }
                        </datalist>
                    }
                    <small id="describeTeamProject" class="form-text text-muted">You can leave this field empty to list all feeds of the organization</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="inputSearchTerm">Search</label>
                    <SafeTextInput id="inputSearchTerm"
                                   class="form-control"
                                   @bind-Value="NugetSettings.SearchTerm"
                                   @onchange="GetNugets"
                                   type="text"
                                   aria-describedby="describeSearchTerm"
                                   placeholder="Team project" />
                    <small id="describeSearchTerm" class="form-text text-muted">Search term sent to the REST API</small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="inputTeam">Feeds</label>
                    <SafeTextInput id="inputTeam"
                                   class="form-control"
                                   @bind-Value="NugetSettings.Feed"
                                   @onfocus="GetFeeds"
                                   @onchange="GetNugets"
                                   type="text"
                                   list="teamSuggestion"
                                   aria-describedby="describeTeam"
                                   placeholder="Team" />
                    <datalist id="teamSuggestion">
                        @if (Feeds != null)
                        {
                            @foreach (var team in Feeds)
                            {
                                <option value="@team.Name" />
                            }
                        }
                    </datalist>
                    <small id="describeTeam" class="form-text text-muted">The name of the feed</small>
                </div>
                <div class="form-group col-md-4">
                    <label for="checkOnlyAlpha">Only alpha</label>
                    <InputCheckbox id="checkOnlyAlpha"
                                   class="form-control"
                                   @bind-Value="NugetSettings.OnlyAlpha"
                                   aria-describedby="describeOnlyAlpha"
                                   placeholder="Team project" />
                    <small id="describeOnlyAlpha" class="form-text text-muted">If checked, only the nuget with the alpha version will be shown</small>
                </div>
            </div>
            <div class="form-row">
                <input name="__RequestVerificationToken" type="hidden" value="@TokenProvider.XsrfToken">
                <button class="btn btn-secondary mb-3">Search</button>
            </div>
        </div>
    </EditForm>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <h3>Nugets</h3>
    </div>
</div>

@if (Nugets != null)
{
    <div class="row">
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                    <th>Publish date</th>
                    <th>Json</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var nuget in Nugets.Where(n => NugetSettings.OnlyAlpha == false || (n.Versions.FirstOrDefault()?.Version?.Contains('-') == true)))
                {
                    <tr>
                        <td>@nuget.Name</td>
                        <td>@nuget.Versions.FirstOrDefault()?.Version</td>
                        <td>@nuget.Versions.FirstOrDefault()?.PublishDate</td>
                        <td>
                            <button @onclick="() => ShowJson(nuget)">json</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    public NugetPageSettings NugetSettings { get; set; } = new NugetPageSettings();

    public EditContext? EditContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NugetSettings = UserPreference.Get<NugetPageSettings>();

        EditContext = new EditContext(NugetSettings);

        NugetSettings.Organisation = Settings.Organisation;

        await GetFeeds();
        await GetProjects();
    }

    public List<TeamProject>? TeamProjects { get; set; } = new();

    public async Task GetProjects()
    {
        if (Settings.Organisation != null)
        {
            TeamProjects = (await DevOpsService.Projects(Settings.Organisation))?.Value;

            StateHasChanged();
        }
    }

    public List<Feed>? Feeds { get; set; } = new();

    public async Task GetFeeds()
    {
        if (Settings.Organisation != null)
        {
            Feeds = (await NugetService.GetFeeds(NugetSettings.TeamProject))?.Value;

            if (Feeds != null)
            {
                NugetSettings.Feed = Feeds.LastOrDefault()?.Name;

                await GetNugets();
            }

            StateHasChanged();
        }
    }

    public List<Model.Nuget>? Nugets { get; set; } = new();

    public async Task GetNugets()
    {
        var feedNugetsUrl = Feeds?.FirstOrDefault(f => f.Name == NugetSettings.Feed)?.Links.Packages?.Href;

        if (feedNugetsUrl != null && Settings.Organisation != null)
        {
            Nugets = (await NugetService.GetNugets(feedNugetsUrl, NugetSettings.SearchTerm))?.Value;

            StateHasChanged();
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        UserPreference.Set(NugetSettings);
    }

        [CascadingParameter]
    public IModalService? Modal { get; set; }

    public void ShowJson(Model.Nuget nuget)
    {
        var parameters = new ModalParameters();

        parameters.Add("Json", JsonSerializer.Serialize(nuget, Program.SerializerOptions));

        Modal?.Show<JsonModal>("Json view", parameters);
    }
}
